<html>
  <body>
    <div class="adminBox clearboth">
      <div class="header" style="*z-index: -1">
	<div class="number">6</div>
	<div class="caption">Custom Fields</div>
	<div class="rightText">&nbsp;</div>
      </div>
      <div class="clearboth border">
	<div id="containerprof"><ul id="attrs" class="elements"><li id="attr_tb_text_box" class="element clearboth">


	      <input type="hidden" name="attr_name" value="tb_text_box"><h3 class="name dragger">Text Box Label:</h3><div class="content"><input type="text" class="textInput" name="attr|tb_text_box" id="attr_tb_text_box" value="" size="32"><div class="edit">
		  <a href="/admin/profile/field_type/1222" class="redLink">Edit</a>&nbsp;</div><div class="delete">
		  <input type="image" name="delete_tb_text_box" id="delete_tb_text_box" src="/media/images/delete.png" title="Delete" value="Delete" onclick="if (Container.confirmDelete()) { Element.remove(this.parentNode.parentNode.parentNode); $('attr_pos').value = Sortable.sequence('attrs', { format: '^attr_([a-z0-9_]+)$' }); } return false"></div>
	    </div></li><li id="attr_tb_radio_buttons" class="element clearboth">


	      <input type="hidden" name="attr_name" value="tb_radio_buttons"><h3 class="name dragger">Radio Buttons Label:</h3><div class="content"><label for="attr_tb_radio_buttons">alpha</label>:<input type="radio" name="attr|tb_radio_buttons" id="attr_tb_radio_buttons" value="alpha"><br>
		<label for="attr_tb_radio_buttons">beta</label>:<input type="radio" name="attr|tb_radio_buttons" id="attr_tb_radio_buttons" value="beta"><br>
		<label for="attr_tb_radio_buttons">gamma</label>:<input type="radio" name="attr|tb_radio_buttons" id="attr_tb_radio_buttons" value="gamma"><br>
		<label for="attr_tb_radio_buttons">delta</label>:<input type="radio" name="attr|tb_radio_buttons" id="attr_tb_radio_buttons" value="delta"><br>
		<div class="edit">
		  <a href="/admin/profile/field_type/1223" class="redLink">Edit</a>&nbsp;</div><div class="delete">
		  <input type="image" name="delete_tb_radio_buttons" id="delete_tb_radio_buttons" src="/media/images/delete.png" title="Delete" value="Delete" onclick="if (Container.confirmDelete()) { Element.remove(this.parentNode.parentNode.parentNode); $('attr_pos').value = Sortable.sequence('attrs', { format: '^attr_([a-z0-9_]+)$' }); } return false"></div>
	    </div></li><li id="attr_tb_checkbox" class="element clearboth">


	      <input type="hidden" name="attr_name" value="tb_checkbox"><h3 class="name dragger">Checkbox Label:</h3><div class="content"><input type="checkbox" name="attr|tb_checkbox" value="1" checked="checked"><div class="edit">
		  <a href="/admin/profile/field_type/1224" class="redLink">Edit</a>&nbsp;</div><div class="delete">
		  <input type="image" name="delete_tb_checkbox" id="delete_tb_checkbox" src="/media/images/delete.png" title="Delete" value="Delete" onclick="if (Container.confirmDelete()) { Element.remove(this.parentNode.parentNode.parentNode); $('attr_pos').value = Sortable.sequence('attrs', { format: '^attr_([a-z0-9_]+)$' }); } return false"></div>
	    </div></li><li id="attr_tb_pulldown" class="element clearboth">


	      <input type="hidden" name="attr_name" value="tb_pulldown"><h3 class="name dragger">Pulldown Label:</h3><div class="content">            <select name="attr|tb_pulldown" id="attr|tb_pulldown" size="1">
                  <option value="one" selected="selected">one</option>
                  <option value="two">two</option>
                  <option value="three">three</option>
		</select>
		<div class="edit">
		  <a href="/admin/profile/field_type/1225" class="redLink">Edit</a>&nbsp;</div><div class="delete">
		  <input type="image" name="delete_tb_pulldown" id="delete_tb_pulldown" src="/media/images/delete.png" title="Delete" value="Delete" onclick="if (Container.confirmDelete()) { Element.remove(this.parentNode.parentNode.parentNode); $('attr_pos').value = Sortable.sequence('attrs', { format: '^attr_([a-z0-9_]+)$' }); } return false"></div>
	    </div></li><li id="attr_tb_select" class="element clearboth">


	      <input type="hidden" name="attr_name" value="tb_select"><h3 class="name dragger">Select Label:</h3><div class="content">            <select name="attr|tb_select" id="attr|tb_select" size="1">
                  <option value="1" selected="selected">one</option>
                  <option value="2">two</option>
                  <option value="3">three</option>
		</select>
		<div class="edit">
		  <a href="/admin/profile/field_type/1226" class="redLink">Edit</a>&nbsp;</div><div class="delete">
		  <input type="image" name="delete_tb_select" id="delete_tb_select" src="/media/images/delete.png" title="Delete" value="Delete" onclick="if (Container.confirmDelete()) { Element.remove(this.parentNode.parentNode.parentNode); $('attr_pos').value = Sortable.sequence('attrs', { format: '^attr_([a-z0-9_]+)$' }); } return false"></div>
	    </div></li><li id="attr_tb_text_area" class="element clearboth">


	      <input type="hidden" name="attr_name" value="tb_text_area"><h3 class="name dragger">Text Area Label:</h3><div class="content">            <textarea name="attr|tb_text_area" id="attrtbtextarea" rows="4" cols="40" width="200" wrap="soft"></textarea>
		<div class="edit">
		  <a href="/admin/profile/field_type/1227" class="redLink">Edit</a>&nbsp;</div><div class="delete">
		  <input type="image" name="delete_tb_text_area" id="delete_tb_text_area" src="/media/images/delete.png" title="Delete" value="Delete" onclick="if (Container.confirmDelete()) { Element.remove(this.parentNode.parentNode.parentNode); $('attr_pos').value = Sortable.sequence('attrs', { format: '^attr_([a-z0-9_]+)$' }); } return false"></div>
	    </div></li><li id="attr_tb_date" class="element clearboth">


	      <input type="hidden" name="attr_name" value="tb_date"><h3 class="name dragger">Date Label:</h3><div class="content">

		<input type="hidden" name="select_time|refresh_cb" value="attr|tb_date">            <select name="attr|tb_date_mon" id="attr|tb_date_mon" size="1">
                  <option value="-1">Month</option>
                  <option value="01">Jan</option>
                  <option value="02">Feb</option>
                  <option value="03">Mar</option>
                  <option value="04">Apr</option>
                  <option value="05">May</option>
                  <option value="06">Jun</option>
                  <option value="07">Jul</option>
                  <option value="08">Aug</option>
                  <option value="09">Sep</option>
                  <option value="10">Oct</option>
                  <option value="11">Nov</option>
                  <option value="12">Dec</option>
		</select>
		<select name="attr|tb_date_day" id="attr|tb_date_day" size="1">
                  <option value="-1">Day</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
		</select>
		<select name="attr|tb_date_year" id="attr|tb_date_year" size="1">
                  <option value="-1">Year</option>
                  <option value="2003">2003</option>
                  <option value="2004">2004</option>
                  <option value="2005">2005</option>
                  <option value="2006">2006</option>
                  <option value="2007">2007</option>
                  <option value="2008">2008</option>
                  <option value="2009">2009</option>
                  <option value="2010">2010</option>
                  <option value="2011">2011</option>
                  <option value="2012">2012</option>
                  <option value="2013">2013</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
		</select>
		<select name="attr|tb_date_hour" id="attr|tb_date_hour" size="1">
                  <option value="-1">Hour</option>
                  <option value="00">00</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
		</select>
		:            <select name="attr|tb_date_min" id="attr|tb_date_min" size="1">
                  <option value="-1">Minute</option>
                  <option value="00">00</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                  <option value="32">32</option>
                  <option value="33">33</option>
                  <option value="34">34</option>
                  <option value="35">35</option>
                  <option value="36">36</option>
                  <option value="37">37</option>
                  <option value="38">38</option>
                  <option value="39">39</option>
                  <option value="40">40</option>
                  <option value="41">41</option>
                  <option value="42">42</option>
                  <option value="43">43</option>
                  <option value="44">44</option>
                  <option value="45">45</option>
                  <option value="46">46</option>
                  <option value="47">47</option>
                  <option value="48">48</option>
                  <option value="49">49</option>
                  <option value="50">50</option>
                  <option value="51">51</option>
                  <option value="52">52</option>
                  <option value="53">53</option>
                  <option value="54">54</option>
                  <option value="55">55</option>
                  <option value="56">56</option>
                  <option value="57">57</option>
                  <option value="58">58</option>
                  <option value="59">59</option>
		</select>
		<div class="edit">
		  <a href="/admin/profile/field_type/1228" class="redLink">Edit</a>&nbsp;</div><div class="delete">
		  <input type="image" name="delete_tb_date" id="delete_tb_date" src="/media/images/delete.png" title="Delete" value="Delete" onclick="if (Container.confirmDelete()) { Element.remove(this.parentNode.parentNode.parentNode); $('attr_pos').value = Sortable.sequence('attrs', { format: '^attr_([a-z0-9_]+)$' }); } return false"></div>
	</div></li></ul></div>
	<input type="hidden" name="attr_pos" id="attr_pos" value="tb_text_box,tb_radio_buttons,tb_checkbox,tb_pulldown,tb_select,tb_text_area,tb_date">
	<script type="text/javascript">
	  Sortable.create('attrs', {
	  onUpdate: function(elem) {
          $('attr_pos').value = Sortable.sequence(elem, { format: '^attr_([a-z0-9_]+)$' });
	  },
	  handle: 'name'
	  });
	  $('attr_pos').value = Sortable.sequence('attrs', { format: '^attr_([a-z0-9_]+)$' });
	</script>
      </div>
    </div>
  </body>
</html>
