<html>
  <body>
    <div class="adminBox clearboth">
      <div class="header" style="*z-index: -1">
	<div class="number">5</div>
	<div class="caption">Existing Subelement Types</div>
	<div class="rightText">&nbsp;</div>
      </div>
      <div class="subelement clearboth border">
	<div style="padding: 5px;"><a href="#" onclick="return customSubmit('cont_profile', 'formBuilder|addElementType_cb', '1')"><img src="/media/images/en_us/add_sub_element_lgreen.gif" alt="Add Element Type" style="vertical-align: middle; margin: 0px 0px;"></a><input type="hidden" name="formBuilder|addElementType_cb" value=""></div><!-- table header display -->
	<table class="listManager">
	  <tbody><tr>
	      <th class="sortdown"><a href="/admin/profile/element_type/1122?listManager|sortBy_cb=-name">Name</a></th>
	      <th><a href="/admin/profile/element_type/1122?listManager|sortBy_cb=biz_class_id">Content Type</a></th>
	      <th><a href="/admin/profile/element_type/1122?listManager|sortBy_cb=description">Description</a></th>
	      <th><a href="/admin/profile/element_type/1122?listManager|sortBy_cb=min_occurrence">Min</a></th>
	      <th><a href="/admin/profile/element_type/1122?listManager|sortBy_cb=max_occurrence">Max</a></th>
	      <th colspan="1"></th>  </tr>
	    <tr class="even">
	      <td class="selected name">Inline CSS style</td>
	      <td class="biz_class_id">Subelement</td>
	      <td class="description">&nbsp;</td>
	      <td class="min_occurrence">

		<input type="hidden" name="subelement_type_id" value="1095"><input type="text" class="validate-digits textInput" name="subelement_type|min_occurrence_1095" id="subelement_type_min_occurrence_1095" title="Min occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="max_occurrence"><input type="text" class="validate-digits textInput" name="subelement_type|max_occurrence_1095" id="subelement_type_max_occurrence_1095" title="Max occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="action"><input type="checkbox" name="element_type|delete_sub" value="1095">Delete</td>
	    </tr>
	    <tr class="odd">
	      <td class="selected name">Lead Data Collection Form</td>
	      <td class="biz_class_id">Subelement</td>
	      <td class="description">The element that can be part of landing pages or used by the web app to collect data</td>
	      <td class="min_occurrence">

		<input type="hidden" name="subelement_type_id" value="1090"><input type="text" class="validate-digits textInput" name="subelement_type|min_occurrence_1090" id="subelement_type_min_occurrence_1090" title="Min occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="max_occurrence"><input type="text" class="validate-digits textInput" name="subelement_type|max_occurrence_1090" id="subelement_type_max_occurrence_1090" title="Max occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="action"><input type="checkbox" name="element_type|delete_sub" value="1090">Delete</td>
	    </tr>
	    <tr class="even">
	      <td class="selected name">Single Page Web Stage</td>
	      <td class="biz_class_id">Subelement</td>
	      <td class="description">&nbsp;</td>
	      <td class="min_occurrence">

		<input type="hidden" name="subelement_type_id" value="1099"><input type="text" class="validate-digits textInput" name="subelement_type|min_occurrence_1099" id="subelement_type_min_occurrence_1099" title="Min occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="max_occurrence"><input type="text" class="validate-digits textInput" name="subelement_type|max_occurrence_1099" id="subelement_type_max_occurrence_1099" title="Max occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="action"><input type="checkbox" name="element_type|delete_sub" value="1099">Delete</td>
	    </tr>
	    <tr class="odd">
	      <td class="selected name">Single Page Web Application</td>
	      <td class="biz_class_id">Subelement</td>
	      <td class="description">&nbsp;</td>
	      <td class="min_occurrence">

		<input type="hidden" name="subelement_type_id" value="1093"><input type="text" class="validate-digits textInput" name="subelement_type|min_occurrence_1093" id="subelement_type_min_occurrence_1093" title="Min occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="max_occurrence"><input type="text" class="validate-digits textInput" name="subelement_type|max_occurrence_1093" id="subelement_type_max_occurrence_1093" title="Max occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="action"><input type="checkbox" name="element_type|delete_sub" value="1093">Delete</td>
	    </tr>
	    <tr class="even">
	      <td class="selected name">Keyword List Link</td>
	      <td class="biz_class_id">Subelement</td>
	      <td class="description">Link to a List of Keywords</td>
	      <td class="min_occurrence">

		<input type="hidden" name="subelement_type_id" value="1108"><input type="text" class="validate-digits textInput" name="subelement_type|min_occurrence_1108" id="subelement_type_min_occurrence_1108" title="Min occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="max_occurrence"><input type="text" class="validate-digits textInput" name="subelement_type|max_occurrence_1108" id="subelement_type_max_occurrence_1108" title="Max occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="action"><input type="checkbox" name="element_type|delete_sub" value="1108">Delete</td>
	    </tr>
	    <tr class="odd">
	      <td class="selected name">Offer Link</td>
	      <td class="biz_class_id">Subelement</td>
	      <td class="description">Link profile group to an offer</td>
	      <td class="min_occurrence">

		<input type="hidden" name="subelement_type_id" value="1106"><input type="text" class="validate-digits textInput" name="subelement_type|min_occurrence_1106" id="subelement_type_min_occurrence_1106" title="Min occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="max_occurrence"><input type="text" class="validate-digits textInput" name="subelement_type|max_occurrence_1106" id="subelement_type_max_occurrence_1106" title="Max occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="action"><input type="checkbox" name="element_type|delete_sub" value="1106">Delete</td>
	    </tr>
	    <tr class="even">
	      <td class="selected name">Header Image</td>
	      <td class="biz_class_id">Subelement</td>
	      <td class="description">&nbsp;</td>
	      <td class="min_occurrence">

		<input type="hidden" name="subelement_type_id" value="1135"><input type="text" class="validate-digits textInput" name="subelement_type|min_occurrence_1135" id="subelement_type_min_occurrence_1135" title="Min occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="max_occurrence"><input type="text" class="validate-digits textInput" name="subelement_type|max_occurrence_1135" id="subelement_type_max_occurrence_1135" title="Max occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="action"><input type="checkbox" name="element_type|delete_sub" value="1135">Delete</td>
	    </tr>
	    <tr class="odd">
	      <td class="selected name">Fonts</td>
	      <td class="biz_class_id">Subelement</td>
	      <td class="description">&nbsp;</td>
	      <td class="min_occurrence">

		<input type="hidden" name="subelement_type_id" value="1134"><input type="text" class="validate-digits textInput" name="subelement_type|min_occurrence_1134" id="subelement_type_min_occurrence_1134" title="Min occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="max_occurrence"><input type="text" class="validate-digits textInput" name="subelement_type|max_occurrence_1134" id="subelement_type_max_occurrence_1134" title="Max occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="action"><input type="checkbox" name="element_type|delete_sub" value="1134">Delete</td>
	    </tr>
	    <tr class="even">
	      <td class="selected name">Site Logo</td>
	      <td class="biz_class_id">Subelement</td>
	      <td class="description">&nbsp;</td>
	      <td class="min_occurrence">

		<input type="hidden" name="subelement_type_id" value="1136"><input type="text" class="validate-digits textInput" name="subelement_type|min_occurrence_1136" id="subelement_type_min_occurrence_1136" title="Min occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="max_occurrence"><input type="text" class="validate-digits textInput" name="subelement_type|max_occurrence_1136" id="subelement_type_max_occurrence_1136" title="Max occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="action"><input type="checkbox" name="element_type|delete_sub" value="1136">Delete</td>
	    </tr>
	    <tr class="odd">
	      <td class="selected name">Page</td>
	      <td class="biz_class_id">Subelement</td>
	      <td class="description">A page element type.</td>
	      <td class="min_occurrence">

		<input type="hidden" name="subelement_type_id" value="10"><input type="text" class="validate-digits textInput" name="subelement_type|min_occurrence_10" id="subelement_type_min_occurrence_10" title="Min occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="max_occurrence"><input type="text" class="validate-digits textInput" name="subelement_type|max_occurrence_10" id="subelement_type_max_occurrence_10" title="Max occurrence value" value="" size="4" maxlength="9"></td>
	      <td class="action"><input type="checkbox" name="element_type|delete_sub" value="10">Delete</td>
	    </tr>
	</tbody></table>
      </div>
    </div>
  </body>
</html>
