<html>
  <body>
    <div class="adminBox clearboth">
      <div class="header" style="*z-index: -1">
	<div class="number">4</div>
	<div class="caption">Output Channels</div>
	<div class="rightText">&nbsp;</div>
      </div>
      <div class="clearboth border">
	<!-- table header display -->
	<table class="listManager">
	  <tbody><tr>
	    <th>Name</th>
	    <th>Description</th>
	    <th>Site</th>
	    <th>Enabled</th>
	  </tr>
	  <tr class="even">
	    <td class="selected name">PCS HTML</td>
	    <td class="description">Creates traditional web pages</td>
	    <td class="site">Patient Comfort Services</td>
	    <td class="enabled">Yes</td>
	  </tr>
	</tbody></table>
	<div class="actions">
	  <input type="hidden" name="select_object|save_selected_id_cb" value="output_channel">
            <select name="formBuilder|add_oc_id_cb" id="formBuilder|add_oc_id_cb" size="1" onchange="submit()">
              <option value="" selected="selected">Add Output Channel</option>
              <option value="1040">PCS CSS (Patient Comfort Services)</option>
              <option value="1036">PCS JSON (Patient Comfort Services)</option>
	    </select>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
