<html>
  <body>
    <div class="adminBox clearboth">
      <div class="header" style="*z-index: -1">
	<div class="number">1</div>
	<div class="caption">Properties</div>
	<div class="rightText">&nbsp;</div>
      </div>
      <div class="clearboth border">
	<div class="row">
	  <div class="label required"><label for="key_name">Key Name</label>:</div>
	  <div class="input"><input type="text" class="textInput required" name="key_name" id="key_name" size="32" maxlength="64"></div>
	</div>
	<div class="row">
	  <div class="label required"><label for="name">Name</label>:</div>
	  <div class="input"><input type="text" class="textInput required" name="name" id="name" size="32" maxlength="64"></div>
	</div>
	<div class="row">
	  <div class="label">Description:</div>
	  <div class="input">
            <div class="textarea">            <textarea name="description" id="description" rows="4" cols="40" width="200" wrap="soft"></textarea>
            </div>
	  </div>
	</div>
	<div class="row">
	  <div class="label">Displayed:</div>
	  <div class="input"><input type="checkbox" name="displayed"></div>
	</div>
	<div class="row">
	  <div class="label required"><label for="biz_class_id">Content Type</label>:</div>
	  <div class="input">
            <select name="biz_class_id" id="biz_class_id" size="1" class="required">
              <option value="0">Subelement</option>
              <option value="10">Story</option>
              <option value="50">Image</option>
              <option value="49">Audio</option>
              <option value="51">Video</option>
              <option value="46">Other Media</option>
	    </select>
	  </div>
	</div>
	<input type="hidden" name="formBuilder|add_site_id_cb" value="1151"/> 
      </div>
    </div>
  </body>
</html>
