<html>
  <body id="the_body">
      <section id="default-stats">
	<table>
	  <thead>
            <tr>
              <th>Site Name</th>
              <th>Campaign</th>
              <th>Ad Network</th>
              <th>Visits</th>
              <th>Conversions</th>
	      <th>CTR</th>
	      <th>Avg CPC</th>
	      <th>Cost</th>
	      <th>Avg Position</th>
            </tr>
          </thead> 
           <tbody> 
	  <tr>
	    <td>Patient Comfort Referral</td>
	    <td>Test 1</td>
	    <td>Google</td>
	    <td>10</td>
	    <td>1</td>
	    <td>1.00%</td>
	    <td>$0.60%</td>
	    <td>$6.00</td>
	    <td>1</td>
	  </tr>
	</table>
      </section>
  </body>
</html>
