#intro {
    font-family: 'Comfortaa', sans-serif;
    margin: 0px 0px 0px 25px; 
    padding: 5px 0px 0px 25px;  
}

body {
    font-size: small;
    font-family: 'Comfortaa' Helvetica, Arial, san-serif;
    /*     background-color: #ffffff; */
    
    /*    color: ; */
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: ivory;
/*    background-color: rgb(221, 221, 189);  */
}

footer {
    clear: both;
    background-color: red;
}

#footer {
    background-color: #ffffff;
    text-align: center;
    border-top: 1px solid ;
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    padding: 4px;
}

#content {
    padding: 10px;
}

h1.title {
    padding: 4px;
    margin: 0px;
}

.message {
    color: #25AA0C;
}

.error {
    color: #CC4444;
}

.top {
    /*   background-color: #00b10e; */
    background-color: hsl(208, 36%, 49%);
}

.hero-background {}

.leading img {
    opacity: 0.45; 
}

#cloud img {
    opacity: 0.35; 
}



/*
#lead-form-link {
  margin: 0px 25px 0px 150px;
  padding: 10px 50px 10px 50px; 
  background-color: #EFCA55;
  }
*/

.logo {
    opacity: 1;
}

#logo {
    float: left;
    margin: 0;
    padding: 0;
}

nav {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 0px 10px 0px;
}

/* ul#nav-controls-destination h1{ */
ul li a h1 {
    font-size: 100%;
    padding: 0px;
    margin: 0px;
    line-height: 10px;
}

#lead_newsletter h5 {
    font-size: 50%;
}

/*
  ul li a:hover {
  font-size: 100%;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  line-height: 30px;
  background-color: red;
  }
  */



.nav-tabs {
    border: 0;
}


.page-content {
    padding: 50px 0px 0px 1px;
/*
    background: hsla(0, 0%, 100%, 1) url(/img/transparent-logo.png) no-repeat center right fixed;
    -webkit-background-size: 20%;
    -moz-background-size: 20%;
    -o-background-size: 20%;
    background-size: 20%; 
    background-color: ivory; */
}

html {
    background-color: ivory; 
}

aside div {
    width: 95%;
    padding: 5px 5px 5px 8px;
}

#side-lead-form {
/*    float: left; */
    padding: 5px 5px 5px 8px;
/*    background: hsla(0, 0%, 100%, .0) url(/img/transparent-sun-cloud.png) top right no-repeat; */
}

header {
    padding: 0px 40px 0px 0px;
    margin: 0px 0px 10px 0px;
}

.header-question-right {
    float: right;
    margin: 0;
    padding: 8px 10px 0px 0px;
    line-height: 20px;
    color: white;
    font-weight: bold;
}

.header-question-left {
    float: left;
    margin: 0;
    padding: 8px 10px 0px 0px;
    line-height: 20px;
    color: white;
    font-weight: bold;
}


img {
    width: 100%;
}


#rootwizard {
}

#rootwizard div {

    padding: 9;
}

.tab-pane ul {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}

.tab-pane article {
    padding: 0;
    margin: 0;
    padding: 0px 0px 0px 15px;
    width: 80%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.hero-unit {
/*    background-color: hsla(0, 0%, 93%, 0.85); */
    background-color: white;
    max-width: 100%;
    float: left;
    display: block;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.12);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.12);
    box-shadow: 1px 1px 3px rgba(0,0,0,.12);
    border: 1px solid #D9E0E6;
}

.hero-unit p {
    float: left;
    font-size: 120%;
    font-weight: bold;
    text-rendering: optimizelegibility;
}

.hero-unit img {
    opacity: .63;
    float: right;
    max-width: 30%;
    margin: 0;
    padding: 4px;
    border: 1px solid #D9E0E6;
    border-bottom-color: #C8CDD2;
    border-right-color:  #C8CDD2;
    background: #FFF;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.12);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.12);
    box-shadow: 1px 1px 3px rgba(0,0,0,.12);
}

.hero-unit h3 {
    float: left
}

.hero-unit ul {
    float: left;
    /*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    padding: 0px 0px 0px 15px;
    display: block;
    line-height: 20px;
    font-size: 20px;
    list-style-type: disc;
}

.leading {
    float: right; 
    max-width: 45%;
    margin: 0 80px  0 4px;
    padding: 4px;
    background: ivory;
}

.leading img {
    width: (width)px;
    height: (height)px;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.12);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.12);
    box-shadow: 1px 1px 3px rgba(0,0,0,.12);
    border: 1px solid #D9E0E6;
    border-bottom-color: #C8CDD2; 
    border-right-color:  #C8CDD2;

}

aside h2 {
    font-family: 'Comfortaa', sans-serif;
    font-style: italic;
/*  text-shadow: 2px 2px 2px #aaa; */
}


article h1 {
    /* font-family: 'Belleza', sans-serif; */
    text-shadow: 2px 2px 2px #aaa;
}


article {
/*  font-family: 'Belleza', sans-serif; */
}

ul li a h1 {
    /*  font-family: 'Belleza', sans-serif; */
    font-size: 150%;
    /*  font-style: italic; */
    text-shadow: 2px 2px 2px #aaa; 
}

#nav-controls {
    /*  font-family: 'Belleza', sans-serif; */
    font-size: 150%;
/* font-style: italic; */
/*   text-shadow: 2px 2px 2px #aaa; */
}

.page-content {
    padding: 75px 0px 0px 0px;
}

#top-bar {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}

#top-bar li {
    list-style: none;
    display: inline;
    padding: 0px 20px 0px 20px;
    margin: 0;

    font-style: italic;
    text-shadow: 2px 2px 2px #aaa;
}


#top-bar li h3{
    font-size: 400%;
}

.thank-you-message {
    padding: 30px;
}

.box  {
    width: 225px;
/*    border: 1px solid #C6A765;  */
/*    border: 1px solid  #EFCA55; */
/*    color: green; */
/*    background-color:  hsla(40, 47%, 96%, 0.8); */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#cloud {
/*    float: right;
    background: hsla(0, 0%, 100%, .0) url(/img/transparent-sun-cloud.png) top right no-repeat; */
}

.box h5 {
    font-size: 150%;
}

fieldset {
    border: none;
    margin: 0px;
    padding: 0px;
}
